
body {
    font-family: 'Arial', sans-serif;
    background-color: rgb(245, 245, 245);
    margin: 0;
    padding: 0;
}


h1 {
    text-align: center;
    background-color: #000000;
    color: #fff;
    padding: 20px 0;
    font-size: 24px;
}


img {
    display: block;
    margin: 0 auto;
    max-width: 200px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}


h2 {
    background-color: #000; /* Bleu */
    color: #fff;
    padding: 10px;
    font-size: 20px;
}


ul {
    list-style: none;
    padding-left: 0;
}


li {
    margin: 10px 0;
    font-size: 16px;
}


a {
    color: #007bff; /* Bleu */
    text-decoration: none;
    font-weight: bold;
}


a:hover {
    text-decoration: underline;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}


th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
    font-size: 16px;
}

li > ul {
    margin-left: 20px;
}
