/* BASES */
*,
*::before,
*::after {
    box-sizing: border-box;
    min-width: 0;
}

html {
    font-size: 100%;
    font-family: sans-serif;
    font-variant-ligatures: common-ligatures;
    overflow-wrap: break-word;
    scroll-behavior: smooth;
    
	-ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;

	scroll-behavior: smooth;
}

body {
    color: #000;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	line-height: 1.5;
	font-size: 1.5rem;
    
	background-color: #fff;

    margin: 0;
    
	box-sizing: border-box;	

	text-rendering: optimizeSpeed;
}

*:focus{outline: .2rem dotted #333 !important;}

/* bases > block */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary { display: block; }

body > header, 
body > main, 
body >footer {
    padding: 2vh 2vw;
}
hgroup {
    max-width: 960px;
}

footer {
    background-color: #000;
    color: #fff;
}
footer * {
    color: #fff!important;
}
footer a {
    color: cyan!important
    ;
}


/* bases > titre */
h1, h2, h3, h4 {
    color: #000;
    font-weight: bold;
}
h1 {
    font-size: 3em;
	font-size: clamp(2.5em, 2.3rem + 2.5vw, 3em);
}
    h1 > u {
        text-decoration-color: greenyellow;
        text-decoration-skip-ink: none;
        text-decoration-line: underline;
        text-decoration-style: solid;
        text-decoration-thickness: .3em;
        text-underline-offset: -.2em;
    }

h2, .h2 {
	font-size: 1.5em;
    text-transform: uppercase;
}

h3, .h3 {
	font-size: 1.2em;
}
h4, .h4 {
	font-size: 1.1em;
}
/* bases > liens  */
a {
    color: blue;
    text-decoration: underline;
} 
a[target='_blank']::after{ content: '↗'; }
a:hover,
a[target='_blank']:hover {
    text-decoration: underline dotted;
}
sup a[target='_blank'],
sup a[target='_blank']:hover {
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
}
sup a[target='_blank']::after{ content: ']↗'; }
sup a::before{ content: '['; }
sup a {
    vertical-align: text-top;
    position: relative;
    font-size: .75em;
    line-height: 1;
    white-space: nowrap;
}
sup a::after{ content: ']'; }


p {margin-bottom: 2em;}
ul + p {margin-top: 2em;}	/*RGAA*/


/* UTILITAIRE */

/* utilitaires > texte */
.small {font-size: .8em;}

/* utilitaires > tailles */
.mw960p {
    max-width: 960px;
}

/* COMPOSANTS */

.title--underline {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: normal;
    text-transform:initial;
    border-bottom: 2px solid #000;
    padding: 1rem 0;
}

/* composant > fil ariane */
.breadcrumbs {
    font-size: .8em;
}

    .breadcrumbs .breadcrumbs--list {

    }

        .breadcrumbs .breadcrumbs--list .breadcrumbs--element {
            display: inline;
        }
        .breadcrumbs .breadcrumbs--list .breadcrumbs--element:not(:last-child):after {
            content: '›';
            color: #555;
        }

/* pormotion > liste */
.promotion {
    padding: 4vh 0;
}
.promotion__liste {
    max-width: 1280px;
    margin-top: 8rem;
    margin-left: auto;
    margin-right: 0;
}
.promotion__liste ul {
    list-style: none;
    padding: 0;
    padding-left: 8vw;
    width: 100%;
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: stretch;
    gap: 4vw;
}
.promotion__liste ul li {
    max-width: 250px;
}
.promotion__liste ul li div,
.promotion__liste ul li img {
    width: 250px;
    height: 250px;
    overflow: hidden;

    object-fit: cover;
    object-position: 50% 50%;
}
.promotion__liste ul li img {

    /*pour le texte alternatif */
    display: flex;
    color: #555;
    font-style: italic;
    align-items: center;
    justify-content: center;
    font-size: .8em;

    filter: grayscale(0);
    transition: all .2s;
}
.promotion__liste ul li:hover img {
    filter: grayscale(0);
}
.promotion__liste ul li h3 {
    font-size: .8em;
    padding: 1vh 0;
    margin-bottom: 0;
    text-align: left;
}

.promotion__eleve-liens {
    font-style: normal;
    border-top: 1px solid #666;
}
.promotion__eleve-liens a {
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    line-height: 1;
    vertical-align: middle;

    color: #666;
}
.promotion__eleve-liens a:hover {
    color: #000;
}
.promotion__eleve-liens a[target='_blank']::after {
    content: '';
}
  

@font-face {
    font-family: 'fontello';
    src: url('font/fontello.eot?95355375');
    src: url('font/fontello.eot?95355375#iefix') format('embedded-opentype'),
         url('font/fontello.woff2?95355375') format('woff2'),
         url('font/fontello.woff?95355375') format('woff'),
         url('font/fontello.ttf?95355375') format('truetype'),
         url('font/fontello.svg?95355375#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
}
[class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: never;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    margin-left: .2em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-mail:before { content: '\e800'; } /* '' */
.icon-profile:before { content: '\f2bc'; } /* '' */