body {
  background-color: rgb(15, 15, 15);
}

h1, h2, h3 {
    color: white;
    text-shadow: black 0.006em 0.006em 0.007em;
    text-decoration: underline solid red;
}

li::marker {
    color: yellow;
    background-color : white;
}

ul, p, table, header, span {
    color: white;
}

a {
    color: orangered;
}


